$gradient-dark: #ABAE9C; // 36.98%
$gradient-3: rgba(171, 174, 156, 0.69); // 60.94%
$gradient-2: rgba(171, 174, 156, 0.5802); // 71.88%
$gradient-1: rgba(171, 174, 156, 0.417); // 85.94%
$gradient-0: rgba(171, 174, 156, 0); // 100%

#circle-icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #252525;
    display: inline-block;
    position: absolute;
    
}

.page-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    display: inline-block;
    padding-right: 33px;
    padding-top: 5px;
    vertical-align: middle;
    margin-left: auto; 
    margin-right: 0;
}

// filter: blur(15px);
// height: 464px;
.dropdown-menu-nav {
}

.menu-container {
    padding-right: 14px;
    padding-top: 14px;
    width: 310px;
    float: right;
    justify-content: flex-end;
    margin: 0;
}

#gradient-background-dropdown-menu{
    background: radial-gradient(95.26% 95.26% at 100% 0%, #ABAE9C 36.98%, rgba(171, 174, 156, 0.69) 60.94%, rgba(171, 174, 156, 0.580189) 71.88%, rgba(171, 174, 156, 0.416978) 85.94%, rgba(171, 174, 156, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background-blend-mode: darken;
    mix-blend-mode: darken;
}

#dropdown-toggle {
    display: flex; 
    justify-content: flex-end;
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    color: #252525;
}

#dropdown-toggle:hover {
    
}

.dropdown-menu {
    margin-left: auto;
    text-decoration: none;
    list-style: none;
    
    margin-top: 44px;
    margin-bottom: 144px;
}

li {
    padding-right: 2px;
    padding-bottom: 20px;
    text-align: right;
    a {
        font-size: 20px;
        line-height: 24px;
        text-decoration: none;
    }
}