.not-found-grid {
    display: grid;
    grid-template-columns: repeat(7, 0.2fr);
    grid-template-rows: 80%;
    // height: 60%;
    max-height: 60%;
    h1.page-header#not-found-header{
        font-size: 3rem;
        text-align: center;
        grid-row: 1;
        // font-family: 'Roboto', sans-serif;
        // font-family: 'Montserrat', sans-serif;
        grid-column: 3  / span 7; 
        padding-top: 20%;
        z-index: 1;
    }

    .image-stack__item--top {
        grid-row: 1;
        grid-column: 1 / span 3
    }
    .image-stack__item--bottom {
        grid-row: 1;
        grid-column: 1 / span 3
    }
}

.splat-one {
    opacity: 0.7;
    transform: rotate(30deg);

}

.marker-one {
    // opacity: 0.9;
    transform: rotate(180deg);

}