#about-nav-container {
    padding-top: 1em;
    padding-left: 5%;
    padding-bottom: 1em;
    width: 80%;
}

ul#about-nav{
    margin: 0;
    padding: 0;
    a {
        padding-left: 10%;
    }
}

#about {
    position: relative;
    width: 80%;
    line-height: 1.3;
    p {
        font-size: 1em;
        font-family: 'Roboto', sans-serif;
    }
    a:hover{
        color: rgb(10, 83, 26);
    }
}

#about-two {
    position: relative;
    width: 80%;
    line-height: 1.3;
    p {
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
    }
    a:hover{
        color: rgb(10, 83, 26);
    }
    h1 {
        font-size: 50px;
    }
    #right{
        top:0;
    }
}

.text {
    padding-top: 40px;
    width: 80%;
    p {
        margin: 0;
        padding: 0;
    }
}

.text#layer{
    position: absolute;
    top: 70px;
    z-index: 999;
}

.paint-stroke {
    opacity: 0.65;
    max-width: 600px;
    max-height: 500px;
    min-width: 600px;
    min-height: 500px;
}


#contact {
    position: relative;
    line-height: 1.3;
    
    .text {
        p {
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
            display: inline;
        }
    }
    
}

#about-grid {
    display: grid;
    grid-row-gap: 1.875rem;
    // grid-template-columns: repeat(5, 0.5fr); 
    grid-auto-rows: minmax(min-content, max-content);
    padding-bottom: 5%;
    h1, h2, h3, h4 {
        font-family: 'Antic Slab', serif;
        margin: 0;
        padding: 0;
    }
    #about{
        // grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    #about-two{
        // grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    #contact {
        // grid-column: 2 / 4;
        grid-row: 4 / 5;
        a {
           font-family: 'Antic Slab', serif;
           font-size: 2em; 
        }
        a:hover{
            color: rgb(10, 83, 26);
        }
        p {
            font-size: 2em;
        }
    }
    .image-stack {
        display: grid;
        grid-template-columns: repeat(12, 0.5fr);
        position: relative;
        grid-row: 3 / 4;
    }
    .image-stack__item--top {
        grid-column: 1 / span 6;
        grid-row: 1; 
        padding-top: 20px; 
        z-index: 1; 
    }
    .image-stack__item--bottom {
        grid-column: 4 / 12;
        grid-row: 1; 
    }
}

#about-grid > * {
    padding-top: 20px;
    padding-bottom: 20px;
}

.circle {
    border-radius: 60%;
  /*   background: #e66465; */
    background: #0a531a;
  /*   background: radial-gradient(#e66465, #fff); */
  /*   box-shadow: 0px 0px 70px 90px #e66465; */
    box-shadow: 0px 0px 85px 110px #0a531a;
    height: 120px;
    width: 120px;
    z-index: 1;
  }
  