ul#blog-posts{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

ul#blog-posts > li.article-list {
    text-indent: 10px;
}

ul#blog-posts > li.article-list:before {
    content: "-";
    font-size: 1.5rem;
    text-indent: 10px;
    padding-right: 5px;
}

li.article-list{
    a {
        font-family: 'Inconsolata', monospace;
        font-size: 1.5rem;
    }
    margin-top: 30px;
}

.back-link {
    font-size: 2rem;
    padding-bottom: 20px;
}




// post styling
.article-body {
    max-width: 50rem;
}
.post-header {
    align-items: center;
    display: flex;
    padding-top: 20px;
}

.blog-meta-data {
    line-height: 1.5;
    margin-left: 10%;
}

.post-body {
    font-size: 1.25rem;
    line-height: 1.4;
    flex-wrap: nowrap
    h1, h2, h3, h4, h5, h6 {
        
    }
    p {
        // overflow-wrap: break-word;
        font-family: 'Roboto', sans-serif;
    }
    #text {
        // overflow-wrap: break-word;
    }
}

h1.post-title { 
    margin: 0;
    padding: 0;
    // white-space: normal;
    // wrap
    // flex-wrap: wrap;
}

blockquote { 
    color: white;
    margin: 0;
    padding: 6.25rem 0;
    font-size: 2.5rem;
    line-height: 1.12;
}

@media (min-width: 30.0625em) {
    h1.post-title {
        max-width: 75%;
        font-size: calc(2.5rem + 1.25 * ((100vw - 30.0625rem) / 29.9375));
    }
    blockquote {
        font-size: 3.125rem;
    }
}