@import 'partials/navDropdown';
@import 'partials/typography';

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-logo {
    font-family: $logo-font;
    text-decoration: none;
    font-size: 32px;
    padding-left: 14px;
    padding-top: 11px;
    font-weight: 800;
    line-height: 34px;
    height: 35px;
    position: absolute
}

.container {
	width: 100vw;
	margin: 0 auto;
}

.main-header .container {
	// display: flex;
	// align-items: center;
	// justify-content: space-between;
	// flex-wrap: wrap;
}